.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 25%;
    
}

.container > div{
    border: 1px dashed black;
    margin: 10px;
    padding: 10px;
}

img{
    width: 100%;
    
}

.buttons{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: start;    
    
    
}

body{
    background-color: blanchedalmond;

}

.header{
    color: lightcoral;
}