body{
    margin: 10px;
    padding: 10px;
    background-color: cadetblue;
}

div.container{
    display: grid;
    grid-template-columns: repeat(2,125px);
    grid-template-rows: repeat(2,25px);
    place-items: start
    ;
}
 /*Her var målet å forminske avstandene mellom input feltene og label.*/   









